<p-toolbar>
  <div class="p-toolbar-group-start">Dr. Burn's</div>
  <div class="p-toolbar-group-center">Depression Assessment</div>
  <div class="p-toolbar-group-end"></div>
</p-toolbar>

<div>
  <br />
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
    *ngIf="!testStarted"
  >
    <h1 style="text-align: center; margin-top: 5%">
      Ready to <br />
      take the test ?
    </h1>
    <button
      pButton
      style="padding: 16px; margin-top: 16px"
      (click)="startTest()"
    >
      Start Test
    </button>
  </div>
  <p-progressBar [value]="progress" *ngIf="testStarted"></p-progressBar>
  <br /><br /><br />
  <div *ngIf="testStarted">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
      "
      *ngFor="let set of questions; let i = index"
    >
      <div *ngIf="page == i" style="width: 100%; max-width: 360px">
        <div *ngFor="let question of set; let j = index">
          {{ question }}
          <br />
          <br />
          <div class="display:flex">
            <p-slider
              [(ngModel)]="scores[page * 5 + j]"
              [min]="0"
              [max]="4"
              [step]="1"
            >
            </p-slider>
            <br />
            <div style="display: flex; justify-content: space-between">
              <p>Not at all</p>
              <p>Extremely</p>
            </div>
          </div>
          <br />
          <br />
        </div>
        <button
          pButton
          (click)="reset()"
          class="p-button-danger"
          style="padding: 16px; margin: 16px"
        >
          Reset
        </button>
        <button
          pButton
          (click)="nextPage()"
          style="padding: 16px; margin: 16px"
          *ngIf="page != 4"
        >
          Next
        </button>
        <button
          pButton
          (click)="submit()"
          style="padding: 16px; margin: 16px"
          *ngIf="page == 4"
        >
          Check Results
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="results" style="display: flex; justify-content: center">
    <div>
      <h1>Results</h1>
      <br />
      <h2>Your score {{ total }}</h2>
      <br />
      {{ status }}
      <br /><br />
      <button
        pButton
        (click)="reset()"
        class="p-button-danger"
        style="padding: 16px; margin: 16px"
      >
        Reset
      </button>
    </div>
  </div>
</div>

<div id="footer" style="text-align: center; margin-bottom: 16px">
  Made With <span style="color: red; font-size: x-large">&hearts;</span> By
  <a
    href="https://rituparnawarwatkar.com"
    target="_blank"
    style="text-decoration: none; color: inherit"
    >Rituparna</a
  >
</div>
